.container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    border: 4px solid black;
}

.item-cont {
    display: flex;
    flex-grow: 1;
    background-color: red;
    border: 1px solid green;
}

.item {
    flex-grow: 1;
    border: 1px solid black;
    background-color: aqua;
}

.green {
    background-color: green;
}

.red {
    background-color: tomato;
}

.blue {
    background-color: cornflowerblue;
}

.purple {
    background-color: violet;
}

.orange {
    background-color: orange;
}