.form {
    margin-bottom: 10px;
}
.container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    border: 4px solid black;
}

.item-cont {
    display: flex;
    flex-grow: 1;
    /* background-color: white; */
    /* border: 1px solid green; */
}

.item {
    flex-grow: 1;
    border: 0.5px dotted black;
    /* background-color: white; */
}

.item.black {
    background-color: black;
}


